<!-- Portfolio -->
<section class="content-section" id="projects" style="background:#edeeef">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Portfolio</h3>
      <h2 class="mb-2">Personal Projects</h2>
    </div>
    <div class="container text-center mb-5">
      <p class="lead">Here you can see some of the projects I've done on my own time.</p>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal1">
          <span class="caption">
            <span class="caption-content">
              <h4>Neural Model Library</h4>
              <p class="mb-0">Simple creation of feed forward and recurrent neural models in TensorFlow.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/neural_model.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal2">
          <span class="caption">
            <span class="caption-content">
              <h4>NN Trainer Library</h4>
              <p class="mb-0">A library for automatic supervised training of neural models.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/nn_trainer.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal3">
          <span class="caption">
            <span class="caption-content">
              <h4>NN Experiments</h4>
              <p class="mb-0">A collection of various neural network models in TensorFlow.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/nn_experiments.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal4">
          <span class="caption">
            <span class="caption-content">
              <h4>Collage Generator</h4>
              <p class="mb-0">Intelligently draws a message with images.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/collage_small.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal5">
          <span class="caption">
            <span class="caption-content">
              <h4>OpenGL Game Engine</h4>
              <p class="mb-0">A custom game engine including dynamic lighting, terrain, and static and dynamic objects.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" height="250" src="/static/img/gameengine_small.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal6">
          <span class="caption">
            <span class="caption-content">
              <h4>Ray Casting Simulation</h4>
              <p class="mb-0">A simulation using AI techniques such as ray casting, spatial mapping, Bayesian filtering, pathfinding, etc.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/raycast_small_gray.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal7">
          <span class="caption">
            <span class="caption-content">
              <h4>Seam Carver</h4>
              <p class="mb-0">An application for content-aware image resizing.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/seamcarver_small.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal8">
          <span class="caption">
            <span class="caption-content">
              <h4>Object Tracker</h4>
              <p class="mb-0">An object recognition and tracking tool.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/objecttracker-small.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal9">
          <span class="caption">
            <span class="caption-content">
              <h4>Audio Analyzer</h4>
              <p class="mb-0">An audio analyzer and controller for an Arduino-driven LED strip.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/audioanalyzer_small.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal10">
          <span class="caption">
            <span class="caption-content">
              <h4>Request</h4>
              <p class="mb-0">A library used for sending HTTP/HTTPS requests with simple data management.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/code_blurred.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal11">
          <span class="caption">
            <span class="caption-content">
              <h4>Compiler/Transpiler</h4>
              <p class="mb-0">Parses and compiles a custom programming language into C++.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/compiler_small.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal12">
          <span class="caption">
            <span class="caption-content">
              <h4>Monte Carlo Localization Library</h4>
              <p class="mb-0">A library for n-dimensional Monte Carlo localization.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/mcl_system.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal13">
          <span class="caption">
            <span class="caption-content">
              <h4>Swiper</h4>
              <p class="mb-0">Allows a smartwatch to control presentations and other remote software.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/swiper.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal14">
          <span class="caption">
            <span class="caption-content">
              <h4>Financial Graph</h4>
              <p class="mb-0">Graphs and analyzes your personal financial history.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/financial_graph.png" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" data-toggle="modal" href="#portfolioModal15">
          <span class="caption">
            <span class="caption-content">
              <h4>Web Scraper</h4>
              <p class="mb-0">Various purpose scripts for easy web scraping.</p>
            </span>
          </span>
          <img class="img-fluid portfolio-img" src="/static/img/web.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="container text-center mt-5">
    <p class="lead">In my free time, I continue to work on personal projects and have many ideas just waiting to be realized.</p>
  </div>
  <div class="container text-center mt-5">
    <h2 class="mb-4">To see more of my projects...</h2>
    <a href="{{ links['github'] }}" class="btn btn-xl btn-dark" target="blank">Visit My GitHub &nbsp;<i class="fa fa-github"></i></a>
    <!--<a href="#" class="btn btn-xl btn-dark">View Project Demos</a>-->
  </div>
</section>