<!-- Portfolio -->
<section class="content-section" id="projects" style="background:#edeeef">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Portfolio</h3>
      <h2 class="mb-2">Personal Projects</h2>
    </div>
    <div class="container text-center mb-5">
      <p class="lead">Coming Soon!</p>

      <!-- <p class="lead">Here you can see some of the projects I've done on my own time.</p> -->
    </div>
  </div>
  <div class="container text-center mt-5">
    <p class="lead">In my free time, I continue to work on personal projects and have many ideas just waiting to be realized.</p>
  </div>
  <div class="container text-center mt-5">
    <h2 class="mb-4">To see more of my projects...</h2>
    <a href="{{ links['github'] }}" class="btn btn-xl btn-dark" target="blank">Visit My GitHub &nbsp;<i class="fa fa-github"></i></a>
    <!--<a href="#" class="btn btn-xl btn-dark">View Project Demos</a>-->
  </div>
</section>