<section class="content-section bg-primary text-white" id="research">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Research</h2>
      </div>
    </div>
    <br>
    <div class="row text-center">

      <div class="col-lg-12" style="margin-bottom:12px">
        <a href="/static/doc/ranking-function-for-optimizing-drones.pdf" class="lead" target="_blank" rel="noopener noreferrer">
            <h5 class="mb-0">Weighted Relative Performance Ranking Function for Optimizing Reconfigurable Drones</h5></a>
        <p class="lead" style="line-height:26px">Nitya Ravi, <em><b>Neil Kaushikkar</b></em>, Xander Zell, Felix Chen, Julia Clark, Alexandra Saccente, Gregor Limstrom, Sierra Dabby, Ryan Ehlmann, Chloe Greenstein, Bjorn Johnson, Michael Nguyen, Philip Quijano, Ajay Sunkara, Annie Vu, Leonardo Bonanno, Nick B. Cramer and Parimal H. Kopardekar. 2020<br>
          <a href="https://arc.aiaa.org/doi/10.2514/6.2020-3154" target="_blank" rel="noopener noreferrer">Aerospace Research Central</a> | <a href="/static/doc/ranking-function-for-optimizing-drones.pdf" download="ranking-function-for-optimizing-drones.pdf">Download <i class="fa fa-download"></i></a></p>
      </div>

      <div class="col-lg-12" style="margin-bottom:12px">
        <a href="/static/doc/catt_poster.pdf" class="lead" target="_blank" rel="noopener noreferrer">
            <h5 class="mb-0">COVID-19 and Air Traffic Tracker</h5></a>
        <p class="lead" style="line-height:26px"><em><b>Neil Kaushikkar</b></em>, Mckenna Brown, Gregor Limstrom, Abhishake Karmarkar, Bre Wright, Jelena Herriott, Sophia Peceli and Parimal H. Kopardekar. 2020<br>
          <a href="/static/doc/catt_poster.pdf" download="catt_poster.pdf">Download <i class="fa fa-download"></i></a></p>
      </div>
      
    </div>
  </div>
</section>